<h1><%= @group.name %></h1>
<p>Groupe géré par <%= @group.admin.nickname %></p>

<ul>
<% @members.each do |member| %>
<li><%= member.nickname %></li>
<%= link_to  "voir profil", public_page_path(member) %>
<% end %>
</ul>

<% unless @receiver %>
  <% if @group.admin == current_user %>
  <%= link_to "Faire le tirage au sort", new_group_santa_assignement_path(@group),  data: { turbo_method: "GET", turbo_confirm: "As-tu bien ajouté tout le monde au groupe ? Une fois le tirage au sort effectué il n'est pas modifiable !"}, class:"" %>
  <% end %>
<% end %>



<% if @receiver %>
  <p>Tu es le secret Santa de <%= @receiver.nickname%></p>
<% else %>
  <p>Le tirage au sort n'a pas encore été fait</p>
  <% if @group.admin == current_user %>
  <%= link_to "Modifier les membres du groupe", new_group_group_member_path(@group) %>
  <% end %>
<% end %>

<% if @group.admin == current_user %>
<%= link_to"supprimer le groupe", group_path(@group), data: { turbo_method: "DELETE", turbo_confirm: "Es-tu sûr(e) de vouloir supprimer ce groupe ?"}, class:""  %>
<% end %>
<% if policy(@group).edit? %>
<%= link_to"renommer le groupe", edit_group_path(@group)%>
<% end %>
