<div class="d-flex container-sp-btw  group-show">


<div class="titre-admin">
  <h1><%= @group.name %></h1>
  <% if current_user != @group.admin %>
  <p>Groupe géré par <%= @group.admin.nickname %></p>
  <% end %>
  <div class="modif-group">
    <% if policy(@group).edit? %>
    <%= link_to"renommer le groupe", edit_group_path(@group), class:"edit-group"%>
    <% end %>
    <% if @group.admin == current_user %>
    <%= link_to"supprimer le groupe", group_path(@group), data: { turbo_method: "DELETE", turbo_confirm: "Es-tu sûr(e) de vouloir supprimer ce groupe ?"}, class:"edit-group"  %>
    <% end %>
  </div>
</div>

<div class="group-members">
  <h1>Membres</h1>
   <% if @group.admin == current_user %>
      <% unless @receiver %>
        <%= link_to "Modifier les membres du groupe", new_group_group_member_path(@group), class:"edit-group" %>
      <% end %>
   <% end %>
  <ul>
  <% @members.each do |member| %>
    <% if member != current_user %>
      <%= link_to  public_page_path(member) do %>
        <li><%= member.nickname %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="infos-group">
  <div class="tirage">
    <% unless @receiver %>
      <% if @group.admin == current_user %>
      <%= link_to new_group_santa_assignement_path(@group),  data: { turbo_method: "GET", turbo_confirm: "As-tu bien ajouté tout le monde au groupe ? Une fois le tirage au sort effectué il n'est plus modifiable !"}, class:"" do %>
        <h1>Faire le tirage au sort</h1>
        <% end %>
      <% end %>
    <% end %>
    <% if @receiver %>
  <p>Tu es le secret Santa de</p>
  <%= link_to @receiver.nickname, public_page_path(@receiver)%>
  <% end %>

  </div>


</div>

</div>
