<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% unless action_name == "home" %>
      <div class="banner-site">
      <%= render 'shared/navbar' %>
      <div class="container">
    <% end %>

    <%= yield %>

    <% unless action_name == "home" %>
      </div>
      <%= render "shared/flashes" %>
     </div>
     <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>
