<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

  </head>

  <body>
    <% unless action_name == "home" %>
      <div class="banner-site">
      <%= render 'shared/navbar' %>
      <div class="container">
    <% end %>

    <%= yield %>

    <%= render "shared/flashes" %>
    <% unless action_name == "home" %>
      </div>
     </div>
     <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>
